@model PMS.ModelVm.PopularVm
@{

}


@*  Details r kaj baki ace aro *@


<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">User Details</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h6>ID: <span>@Model.Id</span></h6>

                </div>
                <div class="col-md-6">
                    <p>Name: <span>@Model.Name</span> </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6>Email: <span>@Model.Email</span> </h6>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6>Phone:<span>@Model.Phone</span></h6>

                </div>
            </div>

        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>
